rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false
    }

    match /users/{userId} {
      allow read: if request.auth.uid != null;
    }

    match /messages/{messageId} {
      allow read;
      // allow read: if request.auth.uid != null;
      allow create: if canCreateMessage();

      function canCreateMessage() {
        let isSignedIn = request.auth.uid != null;
        let isOwner = request.auth.uid == request.resource.data.uid;
        let isNotEmpty = request.resource.data.body.size() > 0;
        let isNotBanned = exists(/databases/$(database)/documents/banned/$(request.auth.uid)) == false;

        return isSignedIn && isOwner && isNotEmpty && isNotBanned;
      }
    }
  }
}